html, body{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
}

#navigationBar{
    background: black;
    display: block;
    height: 100%;
    width: 20%;
}


#navigationBar h1{
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigationButton {
    width: 75%;
    height: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block: 10%;
    overflow: hidden;
    border: 1px solid white;
}

.navigationButton p{
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 1.75em;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}


.gitAvatar{
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 15em;
    border-radius: 50%;
}