html, body{
    height: 100%;
    margin: 0;
    background-color: #2a2a2a;
}

#contentContainer {
    display: flex;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 92%;
    width: 92%;
    border: 1px solid black;
    border-radius: 17px;
    background-color: whitesmoke;
    overflow: hidden;
}

#sidebar {
    position: relative;
    left: 0;
    width: 25%;
    background-color: black;
}

#avatar {
    
}